#page-loader {
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; 
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
}

.container-spinner-product-list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgba(255,255,255,0.75);
    display: flex;
}
.prodlist-wrap{
    position: relative;
}
.spinner-product-list{
    margin: auto;
    width: 35px;
    height: 35px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
  
html{
    visibility: hidden;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
#page-loader.hidden {
    opacity: 0;
    visibility: hidden;
}

#tab_contents_modal{
    overflow-y: auto;
    height: calc( 100% - 55px );
    max-height: calc( 100% - 35px );
}

.sitewidget-proddetail,
.sitewidget-proddetail > div,
.sitewidget-proddetail > div > div,
.sitewidget-proddetail > div > div > div,
.sitewidget-proddetail > div > div > div > div,
.sitewidget-proddetail > div > div > div > div > div {
  height: 100%;
}
/* check */

.modal{
    z-index: 99999;
    position: relative;
}
.modal__container main{
    height: 60vh;
    position: relative;
}
.modal #technical_tab ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
}
.modal #technical_tab ul.list-group li {
    border-bottom: 1px solid #7e7e7e;
    justify-content: space-between;
}
.modal #technical_tab .label {
    font-weight: 700;
    font-size: 0.9rem;
}

.loading-container{
    height: 75px;
    width: 100%;
    position: relative;
}

table .firstRow{
    position: sticky;
    top: 0;
}

.sliderTable .inner {
    max-height: 400px;
    overflow-y: auto ;
}

#accessories_tab{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    text-align: center;
}
.accessory-container{
    text-align: center;
}
.accessory-content{
    display: flex;
    flex-direction: column;
}
.accessory-content span{
    line-height: normal;
}
.accessory-content span:last-child{
    color: #c4c4c4;
}
.list-paddingleft-2{
    display: flex;
    flex-wrap: wrap;
}
.list-paddingleft-2 li{
    width: 50%;
}
@media (max-width: 1024px) {
    #accessories_tab { grid-template-columns: repeat(3, 1fr); }
}
